<div class="container">
  <div class="page-status-container">
    <span *ngIf="!hideLabel">{{currentPageLabel}}: </span>
    <div class="pagination-info" [ngClass]="selectedPage>0?'enabled':'disabled'"
         (click)="onFirstClick()">
      <i class="pi pi-angle-double-left"></i>
    </div>
    <div class="pagination-info" [ngClass]="selectedPage>0?'enabled':'disabled'"
         (click)="onBackClick()">
      <i class="pi pi-angle-left"></i>
    </div>
    <div *ngIf="selectedPage>0" class="pagination-info enabled"
         (click)="onPageChange(selectedPage-1)">{{selectedPage}}</div>
    <div class="pagination-info enabled selected">{{selectedPage + 1}}</div>
    <div *ngIf="selectedPage+1<totalPages" class="pagination-info enabled"
         (click)="onPageChange(selectedPage+1)">{{selectedPage + 2}}</div>
    <div class="pagination-info" [ngClass]="selectedPage+1<totalPages?'enabled':'disabled'"
         (click)="onNextClick()">
      <i class="pi pi-angle-right"></i>
    </div>
    <div class="pagination-info" [ngClass]="selectedPage+1<totalPages?'enabled':'disabled'"
         (click)="onLastClick()">
      <i class="pi pi-angle-double-right"></i>
    </div>
  </div>
  <div class="per-page-container">
    <span>{{perPageLabel}}: </span>
    <div *ngFor="let size of sizeOptions" class="pagination-info enabled"
         [class.selected]="size===selectedSize" (click)="onPageSizeChange(size)">{{size}}</div>
  </div>
</div>
