<div class="container" [class.card]="cardMode">
  <div class="table-container" [ngStyle]="{height: mobileStyle ? maxHeightMobile : maxHeightPC}">
    <table *ngIf="!mobileStyle else custom">
      <thead>
      <tr *ngIf="filterable" [ngClass]="{primary: headerColor==='primary', secondary: headerColor==='secondary'}"
          [ngStyle]="{backgroundColor:!['primary','secondary'].includes(headerColor) && headerColor}">
        <td class="filter-container" [colSpan]="headerData?.length + 1">
          <g-input-field font="normal" width="20rem"
                         [form]="filterForm" controlName="filter" label="Cerca..."></g-input-field>
        </td>
      </tr>
      <tr [ngClass]="{primary: headerColor==='primary', secondary: headerColor==='secondary'}"
          [ngStyle]="{backgroundColor:!['primary','secondary'].includes(headerColor) && headerColor}">
        <th *ngFor="let data of headerData" (click)="onSortChange(data.property)">{{data.name}}
          <i class="sort-element pi {{sort && data.property === sort.field &&
          sort.type === 'ASC' ? 'pi-sort-up' : 'pi-sort-down'}}"
             [class.active]="data.property === sort?.field"></i></th>
        <th>{{buttonData?.length > 0 ? buttonHeaderName : ''}}</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let element of data">
        <tr [ngClass]="{primary: hoverColor==='primary', secondary: hoverColor==='secondary'}"
            (click)="activateAccordion(accordion)">
          <ng-container *ngFor="let hd of headerData">
            <td *ngIf="!hd.render else render" [class.emphasized]="hd.isBold">
              {{hd.dateFormat ? (element[hd.property] | date: hd.dateFormat) : element[hd.property]}}
            </td>
            <ng-template #render>
              <td [class.emphasized]="hd.isBold" [innerHTML]="hd.render(element) | trustHtml"></td>
            </ng-template>
          </ng-container>
          <td>
            <ng-container *ngFor="let btn of buttonData">
              <g-button [color]="btn.color==='primary'?'primary':'secondary'" *ngIf="btn.type === 'LABELED' else icon"
                        [label]="btn.label" (click)="onButtonClick($event, btn.id, element)"
                        [pTooltip]="btn.tooltip" [showDelay]="500" class="action"></g-button>
              <ng-template #icon>
                <i [ngClass]="{primary: btn.color==='primary', secondary: btn.color==='secondary',
              danger: btn.color === 'danger'}"
                   [ngStyle]="{color: !['primary','secondary','danger'].includes(btn.color) && btn.color}"
                   class="action pi {{btn.icon}}" (click)="onButtonClick($event, btn.id, element)"
                   [pTooltip]="btn.tooltip" [showDelay]="500"></i></ng-template>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="accordion-data" #accordion [colSpan]="headerData?.length">
            <div *ngFor="let ehd of expandedHeaderData">
              <span class="header-value">{{ehd.name}}:</span>
              <span class="spacer"></span>
              <span
                class="body-value">{{ehd.dateFormat ? (element[ehd.property] | date: ehd.dateFormat) : element[ehd.property]}}</span>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="data?.length < 1">
        <tr>
          <td [colSpan]="headerData?.length + (buttonData?.length || 0)"
              style="text-align: center">{{noDataMessage}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>

    <ng-template #custom>
      <div class="custom-table-filter" *ngIf="filterable"
           [ngClass]="{primary: headerColor==='primary', secondary: headerColor==='secondary'}"
           [ngStyle]="{backgroundColor:!['primary','secondary'].includes(headerColor) && headerColor}">
        <g-input-field font="large" width="20rem"
                       [form]="filterForm" controlName="filter" label="Cerca..."></g-input-field>
      </div>
      <div class="custom-table">
        <div *ngFor="let element of data; index as i" class="custom-table-row"
             [class.odd-row]="i % 2 === 0">
          <div *ngFor="let hd of allHeaderData">
            <span class="header-value">{{hd.name}}:</span>
            <span class="spacer"></span>
            <span class="body-value"
                  [class.emphasized]="hd.isBold">{{hd.dateFormat ? (element[hd.property] | date: hd.dateFormat) : element[hd.property]}}</span>
          </div>
          <div *ngIf="buttonData?.length>0">
            <span class="header-value">{{buttonHeaderName}}:</span>
            <span class="spacer"></span>
            <ng-container *ngFor="let btn of buttonData">
              <g-button [color]="btn.color==='primary'?'primary':'secondary'" *ngIf="btn.type === 'LABELED' else icon"
                        [label]="btn.label" (click)="onButtonClick($event, btn.id, element)"
                        [pTooltip]="btn.tooltip" [showDelay]="500" class="action"></g-button>
              <ng-template #icon>
                <i [ngClass]="{primary: btn.color==='primary', secondary: btn.color==='secondary',
              danger: btn.color === 'danger'}"
                   [ngStyle]="{color: !['primary','secondary','danger'].includes(btn.color) && btn.color}"
                   class="action pi {{btn.icon}}" (click)="onButtonClick($event, btn.id, element)"
                   [pTooltip]="btn.tooltip" [showDelay]="500"></i></ng-template>
            </ng-container>
          </div>
        </div>
      </div>
      <ng-container *ngIf="data?.length < 1">
        <div style="text-align: center">{{noDataMessage}}</div>
      </ng-container>
    </ng-template>
  </div>
</div>
