<div class="page-container">
  <div class="title">Prezzi</div>
  <g-table [headerData]="tableHeaderData" [data]="prices" [buttonData]="buttonData"
             [cardMode]="true" [filterable]="true" buttonHeaderName="Azioni" [maxHeightPC]="calcMaxHeight()"
             [sort]="sort" (sortChange)="onSortChange($event)" (filterChange)="onFilterChange($event)"
             (buttonClick)="onButtonClick($event)" [maxHeightMobile]="calcMaxHeight()"></g-table>
  <div class="paginator">
    <g-paginator [totalPages]="totalPages" currentPageLabel="Pagina"
                   [selectedSize]="currentSize" [selectedPage]="currentPage"
                   perPageLabel="Elementi per pagina"
                   (valueChange)="onPaginatorChange($event)"></g-paginator>
  </div>
  <div class="spinner-container" *ngIf="loading">
    <g-spinner></g-spinner>
  </div>
</div>

