<div class="container">
  <form [formGroup]="stationForm" class="station-form">
    <g-input-field [form]="stationForm" controlName="owner" label="Di"></g-input-field>
    <g-input-field [form]="stationForm" controlName="flag" label="Bandiera"></g-input-field>
    <g-input-field [form]="stationForm" controlName="name" label="Nome"></g-input-field>
    <g-input-field [form]="stationForm" controlName="municipality" label="Comune"></g-input-field>
    <g-input-field [form]="stationForm" controlName="province" label="Provincia"></g-input-field>
    <g-input-field [form]="stationForm" controlName="address" label="Indirizzo"></g-input-field>
    <g-input-field [form]="stationForm" controlName="type" label="Tipo"></g-input-field>
    <g-input-field [form]="stationForm" controlName="latitude" label="Latitudine"></g-input-field>
    <g-input-field [form]="stationForm" controlName="longitude" label="Longitudine"></g-input-field>
  </form>
</div>
