<g-nav #sidenav sideBarSize="300px">
  <ng-container sidenav>
    <div class="sidenav" *ngIf="isLoggedIn">
      <div class="user-info">
        <i class="pi pi-user"></i>
        <h2>{{username | titlecase}}</h2>
      </div>
      <div class="actions">
        <ul>
          <li>
            <img src="assets/app/fuel.jpeg" alt="">
            <span [routerLink]="'stations'" (click)="sidenav.toggle()"
                  routerLinkActive="active">Distributori</span>
          </li>
          <li>
            <i class="pi pi-euro"></i>
            <span [routerLink]="'prices'" (click)="sidenav.toggle()"
                  routerLinkActive="active">Prezzi</span>
          </li>
        </ul>
        <p-divider></p-divider>
      </div>
    </div>
  </ng-container>
  <ng-container content>
    <div class="page-container">
      <app-header (toggleSidebar)="sidenav.toggle()"></app-header>
      <div class="content" portalHost>
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-container>
</g-nav>
