@import "../../theme/variables";

:host {
  height: 100%;
  width: 100%;
}

.container {
  background-color: $body;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  .title {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }

  .body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .primary-text {
      font-size: 1.1rem;
      font-weight: 500;
      padding: .5rem;
      text-align: center;
    }

    .secondary-text {
      text-align: center;
      letter-spacing: 1.2px;
      padding: 0 .5rem;
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    width: 100%;
  }
}
