@import "../../../theme/variables";

.page-container {
  max-height: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-evenly;

  .title-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;

    .spacer {
      flex: 1;
    }

    .title {
      font-weight: 500;
      font-size: 2rem;
      letter-spacing: 1.5px;
      flex: 2;
    }

    .stations-link {
      font-weight: 400;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: flex-start;

      span {
        cursor: pointer;

        a {
          text-decoration: none;
          color: $black;
        }
      }
    }
  }

  .spinner-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
  }
}

@media #{$smartphone} {
  .page-container {
    .title-container {
      .title {
        min-width: 100%;
      }

      .stations-link {
        order: 2;
      }
    }
  }
}
